<meta name="google-site-verification" content="ePD_1ZM0b0LvGJyDPxLpWPQz_3Jn9Vb_UGFiqfK64E4">
<link rel="icon" type="image/svg+xml" href="{{ '/assets/favicon.svg' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon-16.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/favicon-96.png' | relative_url }}">
<link rel="icon" href="{{ '/assets/favicon.ico' | relative_url }}" sizes="any">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon-180.png' | relative_url }}">
<link rel="manifest" href="{{ '/assets/site.webmanifest' | relative_url }}">
<meta name="apple-mobile-web-app-title" content="Yomu">
<meta name="application-name" content="Yomu">
<meta name="theme-color" content="#ff3b69">
<meta property="og:image" content="{{ '/assets/yomu-social.png' | absolute_url }}">
<meta property="og:image:width" content="1280">
<meta property="og:image:height" content="640">
<meta name="twitter:image" content="{{ '/assets/yomu-social.png' | absolute_url }}">
<meta name="twitter:card" content="summary_large_image">
